/.ipynb_checkpoints
/.venv
/Assignment1.ipynb
/Assignment1.pdf
/Assignment1_final.ipynb
/Assignment1_final_1.ipynb
/Assignment2
/Assignment2_Group7
/Assignment2_Group7.zip
/Autoencoder
/Experiment1_StanfordDogs.ipynb
/Project
/coder.zip
/deep_learning_project_1.pdf
/discord-0.0.26.deb
/images.tar
/kagglecatsanddogs_3367a.zip
/micrograd_from_scratch.ipynb